@font-face {
  // protomolecule font from: https://github.com/ThinkDualBrain/Protomolecule
  font-family: 'protomolecule';
  src: url('./Protomolecule.woff2');
  font-weight: normal/bold;
  font-style: normal/italic;
}

html {
  font-family: 'protomolecule', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

:root {
  --sun-color: #fff000;
  --mercury-color: #bf9073;
  --venus-color: #f3bebe;
  --earth-color: #66bb5c;
  --mars-color: #de4430;
  --saturn-color: #f8d4bf;
  --uranus-color: #64abff;
  --neptune-color: #3c54cf;
  --generic-color: floralwhite;
}

#canvas-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; // disable clicks etc. on the overlay
}

.planet-label {
  position: absolute;
  pointer-events: all; // enable clicks etc. on the labels
  // display: flex;
  display: grid;
  grid: '. circle label'/1em auto 1em;
  gap: 1em;
  opacity: 0.7;
  &:hover {
    opacity: 0.95;
    &:active {
      opacity: 0.8;
    }
  }
  &__circle {
    grid-area: circle;
    display: inline-block;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    border: 5px solid currentColor;
    box-sizing: content-box;
  }
  &__label {
    grid-area: label;
    color: white;
    font-size: x-large;
    cursor: default;
    user-select: none;
  }
}

.generic-text {
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: x-large;
}

#controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid: '. date rate rate rate time .'
        '. . back pause forward . .'
        / 1fr auto auto auto auto auto 1fr;
  gap: 8px;
  #date-label {
    grid-area: date;
    justify-self: end;
    text-align: center;
    width: 20ch;
  }
  #rate-label {
    grid-area: rate;
    justify-self: center;
    text-align: center;
    width: 20ch;
  }
  #time-label {
    grid-area: time;
    justify-self: start;
    text-align: center;
    width: 20ch;
  }
  #back-button {
    grid-area: back;
    justify-self: end;
  }
  #pause-button {
    grid-area: pause;
    justify-self: center;
  }
  #play-button {
    grid-area: pause;
    justify-self: center;
  }
  #forward-button {
    grid-area: forward;
    justify-self: start;
  }
  .label {
    color: white;
    font-size: x-large;
  }
  .control-button {
    width: 48px;
    height: 48px;
    padding: 4px;
    background: transparent;
    border: none;
    opacity: 0.7;
    &:hover {
      opacity: 0.95;
      &:active {
        opacity: 0.8;
      }
    }
  }
  .icon {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    &__play {
      background: url(assets/icons/play.svg);
      background-size: contain;
    }
    &__pause {
      background: url(assets/icons/pause.svg);
      background-size: contain;
    }
    &__rewind {
      background: url(assets/icons/rewind.svg);
      background-size: contain;
    }
    &__forward {
      background: url(assets/icons/forward.svg);
      background-size: contain;
    }
  }
}
